<div class="containerShow">
      <div class="form-group">
      <p>
      <strong>Nombre:</strong>
      <%= @beerspot.name %>
    </p>

    <p>
      <strong>Dirección:</strong>
      <%= @beerspot.address %>
    </p>
    <br>

    <p>
      <%= @beerspot.latitude %>
      <%= @beerspot.longitude %>
    </p>
    
   <% if @beerspot.images.attached? %>
    <p>
      <strong>Image:</strong>
      <% @beerspot.images.each do |image| %>
      <%= image_tag image.variant(resize:"250x250") %>
      <% end %>
      
    </p>

  <% end %>
  <br>
    <p>
      <strong>Post:</strong>
      <%= @beerspot.post %>
    </p>

    </div>

    <h2>Nuevo Comentario</h2>
        <%= form_with(model: [@beerspot, @comment]) do |form| %>
          <div class="from-group">
            <div class="field">
                <%= form.text_area :content, placeholder: 'Deje su comentario..', id:"text", class:"form-control" %>
            </div>
          
          </div>
          <br>
          <div class="actions">
            <%= form.submit %>
          </div>
    <% end %>
    <p>
      <strong>Calificacion:</strong>
      <%= @beerspot.qualification %>
    </p>
     <h2>Comentarios</h2>
    <div class="row">
     
      <div id = 'listBS'class="col">
        
          <ul >
          <% @comments.each do |comment| %>
           
            <div id="newComment">
            <li ><%= comment.content %></li> 
            </div> 
             
          <% end %>
          
          </ul>
      
      </div>
    </div>


    <%= link_to 'Back', root_path %>
</div>
